
.review-mod-cont{
    /* width: 100%;
    height: 100vh;
    background-color: rgb(70, 69, 69);
    position: fixed;
    left: 0;
    top: 0;
    z-index: ; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.review-wrapper{
    /* background-color: #fff;
    width: 50%;
    height: 90%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.review-mod-cont {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  font-family: "Inter", sans-serif;
}

.review-wrapper {
  width: 100%;
  max-width: 750px;
  background: #fff;
  border-radius: 20px;
  padding: 60px 32px 40px;
  position: relative;
  animation: scaleIn 0.25s ease;
}


.rev-close {
  position: absolute;
  top: 20px;
  right: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.rev-top-text {
  font-size: 14px;
  color: #888;
  margin-bottom: 30px;
}


.rev-task-box {
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 35px;
}

.rev-task-label {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}

.rev-task-title {
  font-size: 16px;
  font-weight: 600;
}


.rev-center {
  text-align: center;
  margin-bottom: 35px;
}

.rev-success-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #1dcf5f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 0 auto 18px;
}

.rev-assign-title {
  font-size: 20px;
  margin-bottom: 4px;
}

.rev-assign-sub {
  font-size: 14px;
  color: #777;
}

/* Price Box */
.rev-price-box {
  border: 2px solid #c89bff;
  background: #f7f1ff;
  border-radius: 14px;
  padding: 24px 10px;
  text-align: center;
  margin-bottom: 35px;
}

.rev-price-label {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.rev-price-value {
  font-size: 20px;
  font-weight: 600;
}


.rev-btn-flex {
  display: flex;
  gap: 16px;
}

.rev-btn-outline,
.rev-btn-fill {
  width: 100%;
  padding: 14px 0;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.rev-btn-outline {
  border: 1px solid #c8c8c8;
  background: transparent;
}

.rev-btn-outline:hover {
  background: #f2f2f2;
}

.rev-btn-fill {
  background: #7c28f5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 500;
}
.rev-btn-fill span{
  color: white;
}

.rev-btn-fill:hover {
  background: #671ed1;
}


@keyframes scaleIn {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
