
.review-mod-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.review-wrapper {
  width: 90%;
  /* max-width: 600px; */
  height: auto;
  max-height: 90vh;
  /* background: #fff; */
  border-radius: 12px;
  padding: 20px;
  position: relative;
  overflow-y: auto;
  background-color: red;
}