

.reset-text-holder {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reset-h1 {
  font-weight: 600;
  color: #212121;
  font-size: 1.5rem;
  font-size: 31px;
}

.reset-p {
  font-weight: 400;
  color: #424242;
  margin-top: 0.3rem;
}

.password-holder {
  width: 80%;
  height: 40%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 17px;
}

.password-holder-input {
  gap: 1rem;
  padding-right: 1.3rem;
  margin-left: 4.5rem;
  position: relative;
}

.password-holder-input label {
  font-size: 1rem;
  font-weight: 500;
  color: #212121;
}

.password-holder-input input {
    width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  outline: none;
  font-size: 0.95rem;
  color: #212121;

}

.password-holder-input input::placeholder {
  color: #9e9e9e;
}
.reset-btn-container{
      width: 70%;
      height: 10%;
      display: flex;
       align-items: center;
      justify-content: center;
       margin-top: 2rem;
}
.reset-btn {
    width: 100%;
    height: 100%;
  background: #6b26ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
 margin-left: 2.5rem;
 margin-top: 1rem;
}

.toggle-icon {
  position: absolute;
  left: 90%;
  bottom: 15%;
  cursor: pointer;
  color: #000000;
}

@media (max-width: 780px) {
  .password-holder-input {
    margin-left: 2rem; 
    margin-left: 2rem; 
    padding-right: 1rem;
  }

  .reset-btn {
    width: 95%;    
    width: 95%;     
    margin-left: auto;
    margin-right: auto;
  }

  .reset-text-holder {
    margin-top: 1rem;
    padding: 0 1rem; 
    padding: 0 1rem;
  }

  .toggle-icon {
    right: 0.8rem;  
    right: 0.8rem;  
  }
}


@media (max-width: 480px) {
  .password-holder-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
  }

  .reset-btn {
    width: 100%;      
    margin: 1.5rem auto 0;
  }

  .reset-text-holder {
    margin-top: 0.5rem;
    padding: 0 0.5rem;
  }

  .password-holder-input input {
    font-size: 0.9rem; 
    padding: 0.7rem 0.8rem;
  }

  .toggle-icon {
    right: 0.5rem;
  }
}





















