.verify-section {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
}
.logo-holder {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1.3rem;
}
.eclipse-left {
  position: absolute;
  bottom: 9%;
}
.eclipse-right{
    position: absolute;
    right: 0.01%;
    bottom: 9%;
    top: 17%;
}
.bicycle{
    position: absolute;
    left: 4%;
}
.runner{
    position: absolute;
    bottom: 4%;
    right: 82%;
}
.money{
 position: absolute;
 bottom: 3%;
 right: 5%;
}
.verify-form{
    position: absolute;
    right: 23%;
    bottom: 20%;
    width: 51.6rem;  
    height: 31.5rem; 
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:red;
}
.security-header{
  width: 40%;
  height: max-content;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
.img-security{
  text-align: center;
  padding-bottom: 0.5rem;
}
.security-icon-box{
   display: flex;
   justify-content: center;
}
.security-header-h1{
  text-align: center;
  font-weight: 600;
  font-style: Semibold;
  letter-spacing: 4%;
}
.security-header-p{
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-style: regular;
   letter-spacing: 4%;
}
.input-field-holder {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1rem;
}
.input-code-text-holder{
  margin-top: 1.2rem;
  display: flex;
  align-items: flex-end;
}
.input-code-text-p{
  font-weight: 400;
  font-style: regular;
    letter-spacing: 4%;
}
.input-code-box {
  width: 100%;
  height: 100%;
  margin-top: 1.3rem;
}
.input-field-holder{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
}
.code-input {
  width: 7rem;
  height: 6rem;
  text-align: center;
  font-size: 1.4rem;
  border:1px solid black;
  border-radius: 13%;
  outline: none;
}
.verify-btn-otp-holder{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.verify-otp{
   width: 50%;
 height: 3rem;
 border-radius: 0.5rem;
 cursor: pointer;
 color: white;
 background-color: #8133f1;
 border: none;
 font-size: 1rem;
}
.resend-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.didnt-receive{
  font-weight: 400;
  font-style: regular;
  letter-spacing: 4%;
  font-family: Poppins;
}
.resend-timer{
  color: #8133F1;
  font-weight: 400;
  font-style: regular;
  cursor: pointer;
}


@media (max-width: 780px) {
  .verify-form {
    right: 10%;
    bottom: 15%;
    width: 35rem;
    height: auto;
  }

  .code-input {
    width: 5rem;
    height: 4.5rem;
    font-size: 1.2rem;
  }

  .security-header {
    width: 70%;
  }

  .verify-otp {
    width: 70%;
  }

  .eclipse-left,
  .eclipse-right,
  .bicycle,
  .runner,
  .money {
    display: none;
  }
}
@media (max-width: 480px) {
  .verify-form {
    position: relative;
    width: 90%;
    height: auto;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: 1rem;
  }

  .security-header {
    width: 100%;
    margin-top: 1rem;
  }

  .input-field-holder {
    flex-wrap: wrap;
    gap: 0.1rem;
  }

  .code-input {
    width: 4rem;
    height: 4rem;
    font-size: 1rem;

  }

  .verify-otp {
    width: 100%;
  }

  .resend-holder {
    flex-direction: column;
    gap: 1rem;
  }

  .eclipse-left,
  .eclipse-right,
  .bicycle,
  .runner,
  .money {
    display: none;
  }
}

@media (max-width: 400px) {
  .verify-form {
    width: 95%;
    padding: 0.5rem;
  }

  .code-input {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 0.9rem;
  }

  .security-header-h1 {
    font-size: 1.2rem;
  }

  .security-header-p {
    font-size: 0.9rem;
  }

  .verify-otp {
    height: 2.5rem;
    font-size: 0.9rem;
  }
}