.welcome-seection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-seection button {
  width: 12%;
  height: 40px;
  background-color: #8133f1;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 7px;
  border: none;
  padding: 10px;
}
.welcome-section span {
  font-size: 16px;
   font-weight:  600; 
   gap: 20px;
}
.recent-card {
  background: #fff;
  border-radius: 18px;
  padding: 2rem;
  border: 1px solid #eff2f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 5rem;
}

.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-header h4 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  color: #1e1e1e;
}

.status-badge {
  background: #F1BA2AB2;
  color: #fff;
  font-size: 13px;
  padding: 0.35rem 1.1rem;
  border-radius: 8px;
  font-weight: 500;
}

.pickup-delivery-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 400;
  margin-bottom: 3px;
}

.address {
  font-size: 13px;
  font-weight: 400;
  color: #212121;
  margin-left: 24px;
}

.recent-footer {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

.date {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 400;
  color: #212121;
}

.price {
  font-size: 13px;
  font-weight: 400;
  margin-left: 1.2rem;
}

.details-btn {
  margin-left: auto;
  background: #8758ff;
  color: white;
  font-size: 0.85rem;
  padding: 0.55rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}


  
      @media screen  and (max-width: 480px) {
        
  .new-errand-btn{
       width: 700px;
    font-size: 14px;  
     
  }
  
}
  
