.notify-page-container {
  width: 100%;
  padding: 20px 40px;
  font-family: "Outfit", sans-serif;
  /* background-color: #7b2cf8; */
}

.back-text {
  font-size: 15px;
  color: #6f6f6f;
  cursor: pointer;
  margin-bottom: 15px;
}

.notify-header h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 4px;
}

.notify-header p {
  font-size: 15px;
  color: #7e7e7e;
  margin-bottom: 30px;
}

.notify-list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.notify-card {
  display: flex;
  justify-content: space-between;
  /* background: #ffffff; */
  border-radius: 12px;
  padding: 30px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.03);
  /* background-color: red; */
}

.notify-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.notify-message {
  font-size: 14px;
  color: #555;
  max-width: 90%;
  margin-bottom: 18px;
}

.notify-time {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #7e7e7e;
  font-size: 14px;
}

.notify-card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
}

.notify-badge {
  padding: 4px 12px;
  background: #f3e7ff;
  color: #a152e1;
  font-size: 12px;
  border-radius: 8px;
}

.notify-btn {
  background: #7b2cf8;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.notify-btn:hover {
  background: #6a24d4;
}


@media (max-width: 768px) {
  .notify-card {
    flex-direction: column;
    gap: 15px;
  }

  .notify-card-right {
    align-items: flex-start;
  }
}
