.payments-wrapper {
  padding: 1.5rem 2rem;
}
.payments-wrapper h2 {
  font-weight: 500;
  font-size: 25px;
}
.payments-wrapper p {
  font-weight: 500;
  font-size: 16px;
}
.payments-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 0.3rem;
}

.payments-subtitle {
  font-size: 0.9rem;
  color: #64748b;
  margin-bottom: 1.5rem;
}

.payment-cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  /* background-color: aqua; */
}

.payment-card {
  flex: 1;
  padding: 3rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #e4e4e7;
  background-color: #e0c686;
}
.payment-card.first {
  background-color: #e8e5ec;
  border: 1px solid #471C85;
}
.payment-card.first h4 {
  font-size: 16px;
  font-weight: 400;
}
.payment-card.first h2 {
  font-size: 16px;
  font-weight: 400;
}
.payment-card.first p {
  font-size: 16px;
  font-weight: 400;
   display: flex;
  margin-top: 20px;
}

.payment-card.second {
  background-color: #efdfbb;
  border: 1px solid #F1BA2A;
}
.payment-card.second h4 {
  font-size: 16px;
  font-weight: 400;
}
.payment-card.second h2 {
  font-size: 16px;
  font-weight: 400;
}
.payment-card.second p {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  margin-top: 20px;
}
.card-icon {
  width: 40px;
  height: 40px;
  background-color: #471c851a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.table-wrapper {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  padding: 24px;
  margin-top: 1.8rem;

}

.table-header,
.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 14px;
  padding: 2rem 1.1rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.table-header p {
  font-weight: 700;
  font-size: 20px;
  /* color: #334155; */
}

.table-row {
  color: #505a66;
}
.table-row p {
  color: #212121;
  font-weight: 400;
  font-size: 16px;
}

.col-type {
  width: 30%;
  font-weight: 600;

}
.col-date {
  width: 18%;
}
.col-amount {
  width: 15%;
}
.col-status {
  width: 18%;
  text-align: center;
}
.col-method {
  width: 19%;
  text-align: right;
}

.type-text {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
.type-text span {
  display: flex;
  text-align: center;
  margin-left: 10px;
}

.status-badge {
  padding: 0.45rem 1rem;
  border-radius: 20px;
  font-size: 0.78rem;
  font-weight: 600;
}

.status-badge.completed {
  background: #22C55E;
  color: #0f9d58;
  padding: 10px 10px;
  border-radius: 20px;
  color: #fff;
}
.status-badge.completed span{
  font-size: 16px;
  font-weight: 400;
}
.status-badge.pending span{
  font-size: 16px;
  font-weight: 400;
}

.status-badge.pending {
  background: #ffe899;
  color: #946a00;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
}
