.modal-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(70, 69, 69, 0.096);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-child{
     background-color: #fff;
    width: 35%;
    height: 45%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.spinner-box {
  text-align: center;
}

.spinner-text {
  margin-top: 1rem;
  color: #6d3fb6;
  font-weight: 500;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}


@media screen and (max-width: 480px) {
  .modal-child {
    width: 90%;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .spinner-text {
    font-size: 18px;
  }
}
