.clientvs-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  /* padding: 0 20px; */
}
.client-right {
  width: 55%;
  height: max-content;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.client-left {
  width: 45%;
  height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-left-wrapper {
  width: 39rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo p {
  font-size: 24px;
  font-weight: 700;
  color: #8133f1;
}


.client-left h1 {
  font-size: 31px;
  font-weight: 600;
  display: flex;
  text-align: center;
  padding: 20px;
}

.client-dropdown {
  width: 90%;
  height: 4rem;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12rem auto;
  position: relative;
  border-radius: 8px;
  padding: 0 20px;
  box-sizing: border-box;
}
.client-dropdown p {
  font-size: 20px;
  font-weight: 400;
}

.client-drop {
  width: 100%;
  position: absolute;
  height: 6rem;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  border-radius: 8px;
  box-sizing: border-box;
}

.client-drop p {
  font-size: 20px;
  font-weight: 400;
  height: 5rem;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.client-drop p:hover {
  background-color: #f2f2f2;
  border-radius: 6px;
}

@media screen and (max-width: 1024px) {
  .client-right {
    display: none !important;
  }

  .client-left {
    width: 100% !important;
    margin: 0 auto;
    padding: 20px;
  }

  .client-left-wrapper {
    width: 100% !important;
    box-shadow: none !important;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {

  .client-right {
    display: none !important;
  }

  .client-left {
    width: 100% !important;
    padding: 10px;
  }

  .client-left-wrapper {
    width: 100% !important;
    padding: 15px;
    box-shadow: none !important;
  }

  .client-left h1 {
    font-size: 24px;
    text-align: center;
  }

  .client-dropdown {
    width: 100% !important;
    margin: 3rem auto;
  }
}
