.Kyc-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;           
  height: 100vh;          
  background-color: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;         
}
.kyc-modal{
    width: 40%;
    height: 90%;
    background-color: #fff;
    border-radius: 16px;
}