.carousel-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  /* padding: 0 20px; */
}
.carousel-right {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}
/* .client-left {
  width: 40%;
  height: 100vh;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.carousel-logo{
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 8px;
  cursor: pointer;
}
.carousel-logo p {
  font-size: 24px;
  font-weight: 700;
  color: #8133f1;
}
.errandlogo{
  width: 40px;
  height: 40px;
}
.errandlogo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-container {
  width: 70%;
  min-height: 30rem;
  height: 100%;
  /* background-color: greenyellow; */
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 10px;
  transition: opacity 0.3s ease-in-out;
}

.client-carousel-img {
  max-width: 27rem;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.client-carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.client-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  margin-top: 6rem;
  gap: 20px;
}
.client-text h1 {
  font-size: 31px;
  font-style: 400;
}
.client-text p {
  max-width: 530px;
  height: 70px;
  display: flex;
  text-align: center;
  /* background-color: red; */
  font-weight: 400;
  font-size: 20px;
}
