.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  position: relative;
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background: #f1f5f9;
  padding: 0.45rem 0.75rem;
  border-radius: 8px;
}

.search-icon {
  color: #94a3b8;
}

.search-input {
  border: none;
  background: transparent;
  margin-left: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  width: 300px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.notification-btn {
  background: none;
  border: none;
  cursor: pointer;

  position: relative;
}
.ntfy {
<<<<<<< HEAD
  /* background-color: red; */
  width: 15px;
  height: 15px;
=======
  background-color: red;
  width: 20px;
  height: 20px;
>>>>>>> f407c218211e187e7ebe3da56b4242cd0f243695
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  top: -9px;
  right: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
=======
  color: white;
>>>>>>> f407c218211e187e7ebe3da56b4242cd0f243695
}

/* User profile box */
.user-profile {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-name {
  font-weight: 600;
  font-size: 0.95rem;
}

.user-role {
  font-size: 0.75rem;
  color: #6b7280;
}

.hamburger-btn {
  display: none; /* desktop hidden */
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-btn span {
  display: block;
  height: 2px;
  width: 100%;
  background: #1f2937;
  border-radius: 1px;
}

@media (max-width: 768px) {
  .search-container {
    display: none;
  }

  .notification-btn {
    display: none;
  }

  .hamburger-btn {
    display: flex;
  }

  .header-right {
    margin-left: auto;
  }

  .user-info {
    text-align: left;
  }

  .user-namee {
    font-size: 1rem;
  }
}
