*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  max-width: 100%;
}

