.header-container {
  position: fixed;         
  top: 0;             
  left: 0;
  width: 100%;  
  background: #fff;         
  z-index: 1000;             
}

.newhero-section {
  width: 100%;
  background: #F2EBFE99;
  padding: 60px 0;
}

.newhero-inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.newhero-left {
  flex: 1;
  text-align: left;
}

.newhero-title {
  font-size: 2.3rem;
  font-weight: 500;
  color: #212121;
  margin-bottom: 18px;
}

.newhero-text {
  font-size: 1rem;
  line-height: 1.7;
  color: #444;
  width: 80%;
}

.hero-text {
  line-height: 2.5;
  max-width: 550px;
  color: #212121;
  font-size: 16px;
  font-weight: 300;
}

.newhero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.newhero-image {
  width: 430px;
  height: auto;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1024px) {
  .newhero-inner {
    flex-direction: column; 
    align-items: center;
    text-align: left;
    gap: 1.8rem;
  }

  .newhero-left {
    width: 100%;
    max-width: 600px;
  }

  .newhero-text {
    width: 100%;
  }

  .newhero-right {
    width: 100%;
    justify-content: center; 
  }

  .newhero-image {
    width: 520px;       
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .newhero-section {
    padding: 50px 20px;
  }

  .newhero-inner {
    flex-direction: column; 
    align-items: center;
    text-align: left;
  }

  .newhero-left {
    width: 100%;
    max-width: 500px;
  }

  .newhero-title {
    font-size: 1.7rem;
  }

  .newhero-text {
    width: 100%;
    font-size: 0.95rem;
  }

  .newhero-right {
    justify-content: center;
  }

  .newhero-image {
    width: 450px;     
  }
}

@media (max-width: 480px) {
  /* body {
    padding-top: 70px;
  } */

  .newhero-inner {
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
  }

  .newhero-left {
    width: 100%;
    max-width: 350px;
  }

  .newhero-title {
    font-size: 1.5rem;
  }

  .newhero-text {
    font-size: 0.9rem;
  }

  .newhero-right {
    justify-content: center;
  }

  .newhero-image {
    width: 300px;   
  }
}
